body {
  font-family: monospace;
}
.header {
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  &-top {
    background-color: rgba(240, 230, 230, 0);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    &-logo {
      display: flex;
      align-items: center;
      .logo-img {
        img {
          font-size: 15px;
          width: 50px;
        }
      }
      .logo-name {
        margin-left: 8px;
        font-weight: bold;
        font-size: 32px;
      }
    }
    &-navbar {
      display: flex;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0 20px;
          a {
            text-decoration: none;
            color: black;
            font-size: 22px;
          }
        }
      }
      .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-item {
          margin-right: 20px;
          button {
            font-size: 22px;
            border: none;
            border-radius: 20px;
            padding: 10px 25px;
          }
          .btn-login {
            background-color: white;
            border: 1px solid black;
            font-weight: bold;
          }
        }
      }
    }
  }
  // content
  &-content {
    margin: 100px;
    width: 40%;
    .content {
      margin-bottom: 25px;
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
        line-height: 1.5;
        font-weight: bold;
        span {
          color: #f48c06;
        }
      }
      p {
        font-size: 24px;
        line-height: 1.2;
      }
    }
    .btn-list {
      display: flex;
      align-items: center;
      .btn-item {
        margin-right: 15px;
        .btn-join {
          font-size: 22px;
          border: none;
          border-radius: 30px;
          padding: 20px 30px;
        }
        .btn-watch {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          img {
            width: 35%;
          }
        }
        span {
          font-size: 24px;
        }
      }
    }
  }
  // use chung
  .btn-blue {
    background-color: #21c8f6;
    color: white;
  }
}

.main {
  width: 70%;
  margin: 0 auto;
  .company-section {
    margin: 150px 0;
    &-text {
      font-size: 28px;
      color: #696984;
      margin-bottom: 30px;
      text-align: center;
    }
    &-list {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  }
  .solution {
    margin-bottom: 150px;
    &-text {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 50px;
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 24px;
        margin-top: 15px;
      }
    }
    &-list {
      display: flex;

      text-align: center;
      .solution-item {
        border-radius: 20px;
        box-shadow: 0px 0px 17px 0px #d4cece;
        margin: 20px;
        .solution-icon {
          background-color: #637aff5e;
          margin: 30px auto;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .solution-name {
          h4 {
            // padding: 15px;
            font-size: 30px;
          }
        }
        .solution-content {
          margin: 20px 40px 60px 40px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
  .learn-ease {
    margin-bottom: 150px;
    &-title {
      h2 {
        text-align: center;
        font-size: 44px;
      }
    }
    &-content {
      p {
        text-align: center;
        font-size: 24px;
        line-height: 1.5;
        margin: 30px 0;
      }
    }
    &-list {
      display: flex;
      .learn-item {
        width: 100%;
        height: 400px;
        margin: 40px;
        color: white;
        border-radius: 50px;
        position: relative;
        .mask {
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          border-radius: 50px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            h4 {
              font-size: 32px;
              text-transform: uppercase;
              margin-bottom: 20px;
              text-align: center;
            }
            .btn-learn {
              text-align: center;
              button {
                padding: 20px;
                border-radius: 50px;
                border: 1px solid white;
              }
            }
          }
        }
      }
      .lf-instructor {
        background-image: url(../img/for-instructor.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .lf-student {
        background-image: url(../img/for-student.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  .everything {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &-content {
    //   width: 80%;
    padding: 30px 40px 0 0;
      .title {
        font-size: 36px;
        line-height: 1.3;

      }
      p {
        font-size: 24px;
        margin: 15px 0;
        line-height: 1.3;
      }
      a {
        font-size: 22px;
      }
    }
    &-img{
        img {
            width: 100%;
        }
    }
  }
  .feature {
    margin: 70px 0;
    &-title { 
        text-align: center;
        h2 {
            text-align: center;
            font-size: 44px;
        }
        p {
            margin: 20px 0 50px 0;
            font-size: 24px;

        }
    }
    &-list {
        .feature-item {
            display: flex;
            align-items: center;
            
                h3 {
                    line-height: 1.3;
                    margin-top: 20px;
                    font-size: 40px;
                }
                p {
                    line-height: 1.3;
                    font-size: 22px;
                }
                img {
                    // width: 0%;
                    // object-fit: cover;
                }
                // .img-user{
                  
                //         width: 100%;
                //         object-fit: cover;
                    
                // }
                .list{
                    .item{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;
                        p {
                            margin-left: 20px;
                            font-size: 22px;

                        }
                    }
                }
            
        }
    }
    .btn-feature {
      text-align: center;
      .btn-see-more {
        border-radius: 30px;
        padding: 18px 30px;
        border: 1px solid #f48c06;
        background-color: white;
        color: #f48c06;
        cursor: pointer;
      }
    }
  } 
  .testimonial{ 
    display: flex;
    &-content {
      h2 {
        font-size: 20px;
      }
      .content-main{
        h3 {
          font-size: 60px;
          margin: 30px 0;
        }
        p {
          font-size: 26px;
          color: #696984;
          margin-bottom: 15px;
          line-height: 1.3;
        }
      }
      .btn-testimonial{
        // position: relative;
        .btn-write {
          border-radius: 30px;
          padding: 18px 30px;
          border: 1px solid #f48c06;
          background-color: white;
          color: #f48c06;
          cursor: pointer;
        }
        // .arrow-circle {
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        // }
      }
    }
  }
  .news {
    margin: 90px 0;
    &-title {
      text-align: center;
      margin-bottom: 70px;
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 24px;
        margin-top: 25px;
      }
    }
    &-main {
      display: flex;
      .news-left {
      }
      .news-right {
        display: flex;
      }
    }
  }
}

.text-orange {
  color: #f48c06;
}
.text-bold {
  font-weight: bold;
}
.text-purple {
  color: #2f327d;
}
.text-purple-dark {
    color: #696984;
}
.text-dark {
  color: #252641;
}
// .width-50 {
//     width: 50%;
// }